// FONTS 
//Reference the fonts using "font-family:FONT_NAME"
@font-face {
    font-family: BoldDisp;
    src: url("../../../lib/css/fonts/Sequel-Sans-Bold-Disp.otf") format("opentype");
}
@font-face {
    font-family: BookBody;
    src: url("../../../lib/css/fonts/Sequel-Sans-Book-Body.otf") format("opentype");
}
@font-face {
    font-family: HeavyDisp;
    src: url("../../../lib/css/fonts/Sequel-Sans-Heavy-Disp.otf") format("opentype");
}
@font-face {
    font-family: MediumBody;
    src: url("../../../lib/css/fonts/Sequel-Sans-Medium-Body.otf") format("opentype");
}
@font-face {
    font-family: RomanBody;
    src: url("../../../lib/css/fonts/Sequel-Sans-Roman-Body.otf") format("opentype");
}
@font-face {
    font-family: RomanDisp;
    src: url("../../../lib/css/fonts/Sequel-Sans-Roman-Disp.otf") format("opentype");
}


// This is where the styles for the overall site go

body {
    color: #fff;
    font-family: BoldDisp;
}



header {
    .flex {
        display: flex;
    }
    .mauto {
        margin: auto;
    }
    .desk-header {
        display: none;
    }
    .mob-header {
        display: flex;
        padding: 30px 40px 0;
        justify-content: space-between;

        .hamburger {
            margin-top: 0;
            cursor: pointer;
        }
    }


    @media (min-width: 769px) {
        .desk-header {
            display: flex;
        }
        .mob-header {
            display: none;
        }
    }
}



















.home {

    .section-00 {
        position: relative;
        height: 720px;
        background-image: linear-gradient(135deg,#933e92, #3c5cf8);
        clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 calc(100% - 10vw)
        );

        .logo {
            //background: url(../image-min/section-01-mobile-lg-rez-logo-1.png) center center no-repeat;
            //background-size: contain;
            //margin: -40px 0 0 0;
        }

        .one-column {
            background: url(../image-min/section-01-mobile-lg-rez-logo-1.png) center center no-repeat;
            margin: -90px 0 0 0;
            padding: 100px 40px 0;
            background-size: 65%;
        }

        .headline {
            font-family: HeavyDisp;
            text-align: left;
            font-size: 2.7em;
            color: #fff;
            line-height: 1.1em;
            letter-spacing: 1px;
            padding: 50px 0 0;
        }

        .headline-descr {
            font-family: BookBody;
            text-align: left;
            font-size: 1.1em;
            line-height: 1.3em;
            color: #e0cff2;
            //padding: 0 80px 0 0;
            max-width: 80%;
        }

        .button-container {
            margin: 0 0 0 -20px;

            .work-button {
                max-width: 70%;
                margin: 20px 0;
            }
        }
    }
    
    .section-01 {

        .one-column {
            padding: 30px 30px 0;
        }
        
        .circle-1 {
            margin: -26% 0 0 50%;
            
            .shopper {
                z-index: 100;
                position: absolute;
                max-width: 27%;
            }
        }
        
        .wp-container {
            margin: 15% 0 0 0;
            
            .wordpress {
                max-width: 12%;
            }
        }
        
        .circle-2 {
            
            .merch {
                max-width: 50%;
                margin: -4% 0 0 9%;
            }
        }
        
        .circle-3 {
            
            .three-circles {
                max-width: 25%;
                margin: -35% -17% 0 58%;
            }
        }
        
        .s-container {
            
            .shopify {
                max-width: 15%;
                margin: -47% -60% 0 80%;
            }
        }
        
        .woo-container {
            
            .woo {
                max-width: 20%;
                margin: -18% 0 0 78%;
            }
        }
        
        .mag-container {
            
            .magento {
                max-width: 20%;
                margin: 0 0 0 0 ;
            }
        }
        
        .circle-4 {
            
            .three-circles {
                max-width: 25%;
                margin: -22% -35% 0 52%;
            }
        }
    }
    
    .section-02 {
        margin: 70px 0 0;
        
        .one-column{
            padding: 30px 20px;
        }
        
        .services {
            text-align: left;
            font-family: HeavyDisp;
            font-size: 1.4em;
            color: #252d4b;
            line-height: 1.1em;
            margin: 0px 0 50px 50px;
        }
        
        .services:after {
            content: ""; /* This is necessary for the pseudo element to work. */ 
            display: block; /* This will put the pseudo element on its own line. */
            width: 180px; /* Change this to whatever width you want. */
            padding-top: 15px; /* This creates some space between the element and the border. */
            border-bottom: 1px solid #252d4b; /* This creates the border. Replace black with whatever color you want. */
        }
        
        .two-column {
            display: flex;
            flex-direction: row;
            
            .left-side {
                width: 9%;

                img {
                    max-width: 100%;
                }
            }

            .right-side{
                width: 100%;
            }

            
        }
        
        .service {
            text-align: left;
            font-family: HeavyDisp;
            font-size: 1.4em;
            color: #252d4b;
            line-height: 1.1em;
            margin: 5px 0 10px 50px;
        }
        
        .descr-text {
            text-align: left;
            font-family: RomanBody;
            font-size: 0.9em;
            color: #252d4b;
            line-height: 1.3em;
        }
    }
    
    .section-03 {
        margin: 0px 0;
        
        .one-column{
            padding: 30px 20px;
        }
        
        .why {
            text-align: left;
            font-family: HeavyDisp;
            font-size: 1.4em;
            color: #252d4b;
            line-height: 1.1em;
            margin: 0px 0 30px 50px;
        }
        
        .why:after {
            content: ""; /* This is necessary for the pseudo element to work. */ 
            display: block; /* This will put the pseudo element on its own line. */
            width: 180px; /* Change this to whatever width you want. */
            padding-top: 15px; /* This creates some space between the element and the border. */
            border-bottom: 1px solid #252d4b; /* This creates the border. Replace black with whatever color you want. */
        }
        
        
        .large-why {
            text-align: left;
            font-family: BoldDisp;
            font-size: 3.5em;
            color: #252d4b;
            line-height: 1.1em;
            margin: 15px 0 0 50px;
            
            span {
                font-size: 0.8em;
            }
        }
        
        .large-award {
            text-align: left;
            font-family: BoldDisp;
            font-size: 2.7em;
            color: #252d4b;
            line-height: 1em;
            margin: 35px 0 20px 50px;
        }
        
        .why-descr-text {
            text-align: left;
            font-family: RomanBody;
            font-size: 1.2em;
            color: #252d4b;
            line-height: 1.5em;
            margin: 0 0 10px 50px;
        }
        
        .button-container {
                margin: 30px 0 0 50px;

            .work-button {
                max-width: 70%;
                //margin: 20px 0;
            }
        }
    }
    
    .section-04 {
        margin: 0px 0;
        
        .one-column{
            padding: 30px 20px;
        }
        
        .why {
            text-align: left;
            font-family: HeavyDisp;
            font-size: 1.4em;
            color: #252d4b;
            line-height: 1.1em;
            margin: 0px 0 30px 50px;
        }
        
        .why:after {
            content: ""; /* This is necessary for the pseudo element to work. */ 
            display: block; /* This will put the pseudo element on its own line. */
            width: 180px; /* Change this to whatever width you want. */
            padding-top: 15px; /* This creates some space between the element and the border. */
            border-bottom: 1px solid #252d4b; /* This creates the border. Replace black with whatever color you want. */
        }
        
        
        .large-why {
            text-align: left;
            font-family: BoldDisp;
            font-size: 3.5em;
            color: #252d4b;
            line-height: 1.1em;
            margin: 15px 0 0 50px;
            
            span {
                font-size: 0.8em;
            }
        }
        
        .large-before {
            text-align: left;
            font-family: BoldDisp;
            font-size: 2.7em;
            color: #252d4b;
            line-height: 1em;
            margin: -180px 0 20px 50px;
            position: relative;
        }
        
        .large-after {
            text-align: left;
            font-family: BoldDisp;
            font-size: 2.7em;
            color: #252d4b;
            line-height: 1em;
            margin: 35px 0 20px 50px;
            position: relative;
        }
        
        .large-and {
            text-align: center;
            font-family: HeavyDisp;
            font-size: 17em;
            color: #eff0f1;
            line-height: 1em;
            margin: 0 0 0 -50px;
            position: relative;
        }
        
        .before-descr-text {
            text-align: left;
            font-family: RomanBody;
            font-size: 1.2em;
            color: #252d4b;
            line-height: 1.5em;
            margin: 0 0 10px 50px;
        }
        
        .two-column {
            display: flex;
            flex-direction: row;
            
            .left-side {
                width: 50%;
                
                .image-container {
                    margin: 30px 0 0 -20px;
                    
                    .before-work {
                        max-width: 100%
                    }
                }

                img {
                    max-width: 100%;
                }
            }

            .right-side{
                width: 100%;
                
                img {
                    max-width: 100%;
                }
                
                .image-container {
                    margin: 50px -20px 0 -30px;
                    
                    .after-work {
                        max-width: 100%
                    }
                }
            }

            
        }
        
        .button-container {
                margin: 30px 0 0 50px;

            .work-button {
                max-width: 70%;
                //margin: 20px 0;
            }
        }
    }
    
    
    
    
}



footer {
    .flex {
        display: flex;
    }
    .mauto {
        margin: auto;
    }
    .aligncenter {
        text-align: center;
    }

    .mob-footer {
        background: url(../image-min/footer-rez-mob-bg.png) center center no-repeat;
        display: flex;
        min-height: 1100px;
        padding: 130px 30px;
        flex-direction: column;
        max-width: 655px;
        margin: auto;

        .footer-title {
            font-family: HeavyDisp;
            width: 200px;
            height: 70px;
            border-bottom: 1px solid white;
            color: white;
            letter-spacing: 1.5px;
        }

        .row {
            max-height: 100px;
            justify-content: space-evenly;
            margin-bottom: 30px;

            @media (max-width: 550px) {
                flex-wrap: wrap;
                // width: 330px;
            }
        
            img {
                margin-bottom: 0;
            }
        }

        .rezLogoBottom {
            margin: 70px auto;
        }

        .footerMenu {

            div {
                display: flex;
                flex-direction: column;

                a {
                    color: white;
                    font-family: BookBody;
                    text-decoration: none;
                    cursor: pointer;
                    margin: 5px 0;
                }
            }

            .left {
                margin: 0;
            }
        }

        .socialBar {
            margin: 100px auto;
            display: flex;
            justify-content: space-evenly;
            width: 70%;
        }

        .addr {
            color: white;
            font-family: BookBody;
        }
    }

    .desk-footer {
        display: none;
    }

    @media (min-width: 769px) {
        .desk-footer {
            display: flex;
        }
        .mob-footer {
            display: none;
        }
    }
   
}